/* ul {
  -webkit-column-count: 3; 
  -moz-column-count:    3;
  column-count:         3;
  }

  ul li {
    
    float:left;
  } */

  .grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 600px) {
    .grid-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  ul li img:hover {
    opacity: .5;
}

li{
  list-style-type: none;
}

 img {
  /*
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%); */
  filter: brightness(50%);
  mask-image: linear-gradient(225deg, rgba(0, 0, 0, 0.258) 0%, rgba(255,0,0,1) 100%);
  -webkit-mask-image: linear-gradient(225deg, rgba(0, 0, 0, 0.258) 0%, rgba(255,0,0,1) 100%);
}

a:link {
  color: rgb(31,174,81);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(31,174,81);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(31,174,81);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(31,174,81);
  background-color: transparent;
  text-decoration: underline;
}


body{
  background:#182024 !important;
  font-family: 'Roboto', sans-serif !important;
}

